body {
  font-family: 'Quantico', sans-serif;
  font-size: 4em;
}

div {
  border: 1px solid;
  width: 100%;
  margin: 5% auto;
  height: 400px;
  display: flex;
  align-items: center; /* vertical center */
  justify-content: center;   /* horizontal center */

}
